Les ingredients suivants, présents dans le csv, n'ont pas été trouvés dans les xml_sources :
<ul id="missing-ingredients">
  <% missing_ingredients.each do |cas| %>
    <li><%= cas %></li>
  <% end %>
</ul>
Les emissions suivants, présents dans le csv, n'ont pas été trouvés dans les xml_sources :
<ul id="missing-emissions">
  <% missing_emissions.each do |cas| %>
    <li><%= cas %></li>
  <% end %>
</ul>

